<div class="container mb-5 section-space">
    <div class="row">
        <div class="col-12 col-lg-7">
            <div class="p-5 ps-0">
                <h1 class="themecolor">Blog Posts</h1>
                <h2>I think so, this is it</h2>
                <p>Design begins after I begin to think about how to present an experience most successfully, whether a
                    button I put in can solve a problem. The only point in design is not ui design, if the user does not
                    have a good experience at the end of the product, the design will be considered unsuccessful in my
                    opinion.</p>
            </div>
            <div class="d-flex flex-row justify-content-between justify-content-lg-start">

                <a href="https://twitter.com/Daudkhan316"
                    class="btn btn-outline-secondary border-0 rounded-0 me-3 me-md-3 px-1 px-md-5 py-2 btn-twiiter text-white"><img
                        [src]="twitter" alt="twitter logo" class="mb-1"> TWITTER</a>
                <a href="https://www.linkedin.com/in/daud-khan-28a721171/"
                    class="btn btn-outline-secondary border-0 rounded-0 me-3 me-md-3 px-1 px-md-5 py-2 btn-linkedin text-white"><img
                        [src]="linkedin" alt="linkedin logo" class="mb-1"> LINKEDIN</a>
                <a href="https://www.linkedin.com/in/daud-khan-28a721171/"
                    class="btn btn-outline-secondary border-0 btn-dark rounded-0 me-3 me-md-3 px-1 px-md-5 py-2 btn-medium text-white"><img
                        [src]="twitter" alt="medium logo" class="mb-1"> MEDIUM</a>
            </div>
        </div>
        <div class="col-12 col-lg-5">
            <div class="position-relative justify-content-center d-lg-flex d-none">
                <img [src]="rectangle" alt="Recatngle" class="position-absolute pt-5">
                <img [src]="saly" alt="Saly" class="position-absolute">
            </div>
        </div>
    </div>
</div>