<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="my-5">

                <div class="my-5">
                    <img [src]="productDesign" alt="Product Design" class="w-100">
                </div>

                <div>
                    <h1 class="themecolor my-5">Product Design</h1>
                    <p>The definition of product design describes the process of imagining, creating, and iterating
                        products that solve users' problems or address specific needs in a given market. The key to
                        successful product design is understanding the end-user customer, the person for whom the
                        product is being created.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>