<app-section1-display></app-section1-display>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div>

                <div class="blog-picture">
                    <img [src]="blog1" alt="Blog Picture" class="w-100 h-100">
                </div>

                <div class="my-5">
                    <h1 class="text-primary my-5">BLOG DETAILS H1</h1>

                    <p class="text-start">Just like graphic design and web development, UX design trends come and go for a reason. UX is
                        all about developing a better digital world for humanity. Its a field that requires innovation,
                        but
                        that is constantly evolving. Regularly following UX design blogs can help you keep on top of
                        changes in the industry, as well as develop your UX skills.
                        <br>
                        <br>

                        Additionally, many UX design blogs expose you to case studies detailing an app or webs
                        successful development, along with how its usability was improved. Reading about these types of
                        cases can help give you ideas. In this sense, UX design blogs can help provide an indication for
                        the
                        kinds of directions your future projects should take. 
                        <br>
                        <br>

                        Additionally, many UX design blogs expose you to case studies detailing an app or webs
                        successful development, along with how its usability was improved. Reading about these types of
                        cases can help give you ideas. In this sense, UX design blogs can help provide an indication for
                        the
                        kinds of directions your future projects should take.</p>

                </div>

                <div class="my-5">
                    <h2 class="text-primary my-5">BLOG DETAILS H2</h2>
                    <p class="text-start">Just like graphic design and web development, UX design trends come and go for a reason. UX is
                        all about developing a better digital world for humanity. Its a field that requires innovation,
                        but
                        that is constantly evolving. Regularly following UX design blogs can help you keep on top of
                        changes in the industry, as well as develop your UX skills.
                        <br>
                        <br>

                        Additionally, many UX design blogs expose you to case studies detailing an app or webs
                        successful development, along with how its usability was improved. Reading about these types of
                        cases can help give you ideas. In this sense, UX design blogs can help provide an indication for
                        the
                        kinds of directions your future projects should take.
                        <br>
                        <br>

                        Additionally, many UX design blogs expose you to case studies detailing an app or webs
                        successful development, along with how its usability was improved. Reading about these types of
                        cases can help give you ideas. In this sense, UX design blogs can help provide an indication for
                        the
                        kinds of directions your future projects should take.</p>

                </div>
                
                <div class="my-5">
                    <h3 class="text-primary my-5">BLOG DETAILS H3</h3>
                    <p class="text-start">Just like graphic design and web development, UX design trends come and go for a reason. UX is
                        all about developing a better digital world for humanity. Its a field that requires innovation,
                        but
                        that is constantly evolving. Regularly following UX design blogs can help you keep on top of
                        changes in the industry, as well as develop your UX skills.
                        <br>
                        <br>

                        Additionally, many UX design blogs expose you to case studies detailing an app or webs
                        successful development, along with how its usability was improved. Reading about these types of
                        cases can help give you ideas. In this sense, UX design blogs can help provide an indication for
                        the
                        kinds of directions your future projects should take.

                        <br>
                        <br>
                        Additionally, many UX design blogs expose you to case studies detailing an app or webs
                        successful development, along with how its usability was improved. Reading about these types of
                        cases can help give you ideas. In this sense, UX design blogs can help provide an indication for
                        the
                        kinds of directions your future projects should take.</p>
                </div>

            </div>
        </div>
    </div>
</div>