<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="my-5">

                <div class="my-5">
                    <img [src]="uiDesign" alt="UI Design" class="w-100">
                </div>

                <div>
                    <h1 class="themecolor my-5">UI Design</h1>
                    <p>What Is UI Design? UI design prioritizes the user's visual experience. A good user interface is
                        functional, reliable, and enjoyable to use. User interface design should minimize the effort
                        that
                        the user has to invest interacting with a product and help users accomplish their goals with
                        ease.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>