<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="my-5">

                <div class="my-5">
                    <img [src]="uxDesign" alt="UX Design" class="w-100">
                </div>

                <div>
                    <h1 class="themecolor my-5">UX Design</h1>
                    <p>User experience (UX) design is is the process of designing a good user experience by making,
                        creating, and organizing the interfaces people interact with daily, like mobile apps, websites,
                        smart watches, and physical products.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>